/*
Puente García Jorge 
UO294228
*/
/*
Hay que poner la especificidad
Especificidad 0,0,1;
*/
body{
    font-family: 'Verdana', sans-serif;
    background-color: #FFFFFF;
}
/*
Hay que poner la especificidad
Especificidad 0,0,1;
*/
h1{
    font-size: 600%;
    color: #FFFFFF;
    background-color: #000000;
}


/*
El enlace del title 1
Especificidad 0,1,2;
*/
header > a:first-of-type{
    text-decoration-line: none;
    background-color: #000000;

}
/*
Elementos a del navegador
Especificidad 0,1,2;
*/
nav >a {
    font-size: 180%;
    color: #FFFFFF;
    background-color: #000000;
    padding: 0 2% 0; 
    text-decoration-line: none;
}
nav >a:hover {
    color: #F5F859;
}
nav >a.active {
    color: #88FF80;
}
nav{
    background-color: #000000;
}

/*
Migas 
Especificad(0,1,2)
*/
body > p:first-of-type{
    color: #000000;
    font-size:x-large;
}

body > p:first-of-type > a{
    text-decoration-line: none;
    color: #000000;
    font-size:large;
}
/*
Especifidad 0,2,3
*/
body > p:first-of-type > a:hover{
    font-size:x-large;
}
/*
Especifidad 0,0,1
*/
li,p, dt{
    font-size: x-large;
}
/*
Especifidad 0,0,1
*/
ul { list-style: square} 
/*
Especifidad 0,0,1
*/
ul ul { list-style: circle } 
/*
Especifidad 0,0,1
*/
ul ol { list-style: decimal } 
/*
Especifidad 0,0,1
*/
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1% solid rgb(0, 0, 0);
  }
  /*
Especifidad 0,0,1
*/
th,td{
    border: solid 2px black;
    padding: 3%;
}
/*
Se redefine el tamaño de fuente.
Especifidad 0,1,3
*/
body > p:first-of-type>a{
    font-size:large;
}
/*
Especificidad 0,0,1;
*/
h2{
    font-size:350%;
    background-color: #FCB1B1;
}
/*
Especificidad 0,0,1;
*/
h3{
    font-size:250%;
    background-color:#DEAFFD;
}
/*
Especifidad 0,0,1
*/
h4{
    font-size:220%;
    background-color:#CBFFBD;
}
/*
Especifidad 0,0,4
*/
aside > dl >dt > a{
    color: #000000;
    font-size:large;
}
/*
Especifidad 0,1,4
*/
aside > dl >dt > a:hover{
    font-size:x-large;
}
/*
Especifidad 0,0,4
*/
aside > dl > dt > dd {
    font-size:x-large;
}
/*
Especifidad 0,0,1
*/
video{
    width: 100%;
    height: auto;
}


@media screen and (max-width: 600px) {
    /*
Especifidad 0,1,2
*/
    body > p:first-of-type {
        display: none;
    }

    h1{
        font-size: 400%;
    }

    /*
    Especificidad 0,0,1;
    */
    h2{
        font-size:250%;
        background-color: #FCB1B1;
    }
    /*
    Especificidad 0,0,1;
    */
    h3{
        font-size:150%;
        background-color:#DEAFFD;
    }
    /*
    Especifidad 0,0,1
    */
    h4{
        font-size:120%;
        background-color:#CBFFBD;
    }
    nav >a {
        font-size: 120%;
        color: #FFFFFF;
    }
    body > p:first-of-type>a{
        font-size:small;
    }

    body > p:first-of-type{
        color: #000000;
        font-size:large;
    }
    /*
    Especifidad 0,2,3
    */
    body > p:first-of-type > a:hover{
        font-size:large;
    }
    /*
    Especifidad 0,0,1
    */
    li,p, dt{
        font-size: large;
    }
  }

 body>div>article{
    flex: 0 0 calc(25% - 1em); /* Cada tarjeta ocupa el 25% del ancho menos el gap */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8em;
    border: 0.2em solid #000000;
    border-radius: 1em;
    background-color: #bafcb5;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
    position: relative;
}


